extends layout

block content
  h1 Costume Create
  form(action='/costumes/create' method='POST')
    div
      label(for='costume_type') Type:
      input#costume_type(type='text' name='costume_type' required)
    div
      label(for='size') Size:
      input#size(type='text' name='size' required)
    div
      label(for='cost') Cost:
      input#cost(type='number' step='0.01' name='cost' required)
    div
      button(type='submit') Create
